.container {
    margin: 1% 0% 0% 0%;
    display: flex;
    justify-content: center;
}

#navflex {
    width: 50%;
}

#carouselExampleCaptions {
    width: 40vw;

}


img {
    height: 80vh;
    width: 40vw;
}

#bcard {
    font-size: xx-large;
}

#style1 {
    position: absolute;
    text-shadow: 1px 0px 0px black,
        0px 1px 0px black,
        -1px 0px 0px black,
        0px -1px 0px black;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    padding: 15% 0 0 5%;
    width: 35vw;
}

#style2 {
    position: absolute;
    text-shadow: 1px 0px 0px whitesmoke,
        0px 1px 0px whitesmoke,
        -1px 0px 0px whitesmoke,
        0px -1px 0px whitesmoke;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10% 0 0% 5%;
    width: 35vw;
}

button {
    margin: 2%;
}